@font-face {
	font-family: 'Serto BeQaco Bold';
	src: url('Serto BeQaco Bold.ttf');
}

@font-face {
	font-family: 'Estrangelo Quenneshrina';
	src: url('Estrangelo Quenneshrin.otf');
}

@font-face {
	font-family: 'East Syriaca';
	src: url('East Syriac.otf');
}

* {
	margin: 0;
	font-family: Helvetica, Arial, Sans-Serif;
	font-weight: 300;
}

p {
	font-weight: 300;
	font-size: 18px;
	margin: 0 0 30px 0;
	letter-spacing: .5px;
}

p b {
	font-weight: 600;
}

a {
	text-decoration: none;
	color: #000;
}

hr {
	border: none;
	border-bottom: 1px solid #0002;
	margin: 30px 0;
}

.center-txt {
	text-align: center;
}

.izgin {
	font-family: 'Serto BeQaco Bold';
	letter-spacing: 0;
	font-size: 30px;
}

.estrangeloQ {
	font-family: 'Estrangelo Quenneshrina';
	font-size: 30px;
}

.estrangelo {
	font-family: 'EstrangeloEdessa';
}

.SertoBeQaco {
	font-family: 'Serto BeQaco Bold';
}

.eastSyriaca {
	font-family: 'east syriac Adiabene';
}

.mrabco h3 {
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 10px;
}

.no-select {
	-webkit-user-select: none;
	user-select: none;
}

#mrabco1 {
	background-image: url('Surtotho/isaac_computer.jpg');
	width: 100vw;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 0;
}
#mrabco1::before {
	content: '';
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg, #4060a0ea, #007090e8);
	display: block;
	position: absolute;
}

#medone-dmrabco {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
}

#risho {
	width: calc(100% - 30px);
	border-bottom: 1px solid #ffffff20;
	height: 70px;
	background: transparent;
	padding: 15px;
	position: relative;
	text-transform: uppercase;
	transition: all 250ms ease-in-out;
	position: fixed;
	z-index: 999;
}

.risho-logo {
	height: 70px;
	position: absolute;
	transition: all 250ms ease-in-out;
}

.hvus {
	height: calc(100% - 30px);
	display: inline-block;
	width: auto;
	position: relative;
	padding: 15px;
	cursor: pointer;
	background: transparent;
	transition: all 230ms ease-in-out;
}
.hvus:hover {
	background: #fff3;
}

#hvus-mrabco {
	width: calc(100% - 145px);
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}

.hvus h3 {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
	transition: all 250ms ease-in-out;
}

.hvus i {
	margin: 0 5px;
}

.h3gnizo {
	opacity: 0;
	position: static!important;
}

.hvus-animation {
	width: 1px;
	height: 0%;
	background: #fff5;
	position: absolute;
	transition: height 250ms ease-in-out;
}

.hvus-animation-semolo {
	left: 0;
	top: 0;
}

.hvus-animation-yamino {
	right: 0;
	bottom: 0;
}

#login-hvus, #home-hvus {
	position: absolute;
	right: 15px;
}

#ham {
	position: absolute;
	top: 50%;
	right: 30px;
	transform: translateY(-50%);
	width: 50px;
	height: 50px;
	background: transparent;
	border-radius: 50%;
	transition: all 250ms ease-in-out;
	display: none;
}
#ham:active {
	background: #8885;
}

.hamLine {
	width: 60%;
	height: 2px;
	background: #fff;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 200ms ease-in-out;
}

#ham1 {
	top: 25%;
}

#ham2 {
	top: 50%;
}

#ham3 {
	top: 75%;
}

#mrabco2 {
	width: calc(100vw - 50px);
	height: 100vh;
	background: #fff;
	padding: 25px;
	z-index: 2;
	position: relative;
}

#mrabco2 h2 {
	font-size: 50px;
	font-weight: 500;
	font-family: Times New Roman;
	margin-bottom: 15px;
}

@media screen and (max-width: 500px) {
	#mrabco1 {
		background-image: url('Surtotho/isaac_mobile.jpg');
	}
}
@media screen and (max-width: 1195px) {
	#hvus-mrabco {
		display: none;
	}
	#ham {
		display: block;
	}
	#risho {
		height: 50px;
	}
	.risho-logo {
		top: 50%;
		transform: translateY(-50%);
	}
}

#login-mrabco {
	background: #358;
	width: 100vw;
	height: 100vh;
	position: relative;
}

.login-form {
	width: 500px;
	height: auto;
	background: #fff;
	padding: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 3px;
	box-shadow: 0 0 10px 0 #0008;
	overflow: hidden;
	color: #000;
}

.login-form h1 {
	color: #000;
}

.login-form hr {
	border: none;
	border-bottom: 1px solid #0002;
	margin: 30px 0;
}

.login-form input {
	background: none;
	display: block;
	border: none;
	width: 100%;
	outline: none;
	padding: 15px;
}

.login-form .input {
	margin: 30px 0;
	width: 100%;
	border-bottom: 1px solid #0003;
	position: relative;
}

.input-border {
	width: 0;
	height: 1px;
	background: #58f;
	position: absolute;
	left: 50%;
	bottom: -1px;
	transform: translateX(-50%);
	transition: width 250ms ease-in-out;
}

.login-form button {
	border: none;
	background: #358;
	padding: 10px 15px;
	color: #fff;
	font-size: 16px;
	border-radius: 2px;
	cursor: pointer;
	transition: background 150ms ease-in-out;
	position: relative;
	overflow: hidden;
}

.login-form button:hover {
	background: #469;
}

.ripple {
	width: 1px;
	height: 1px;
	position: absolute;
	transform: scale(1);
	opacity: 0;
	border-radius: 50%;
	background: #fff;
}

.activeRipple {
	animation: ripple 500ms;
}

@keyframes ripple {
	0% {
		transform: scale(0);
		opacity: 1;
	}
	100% {
		transform: scale(100);
		opacity: 0;
	}
}

#new-acc {
	color: #358;
	position: absolute;
	right: 0;
	bottom: 0;
	transform: translateY(-50%);
}

.login-error {
	color: #f00;
	margin: 30px 0;
	display: none;
}

#login-wrapper {
	width: 100%;
	height: 100%;
	background: none;
	position: relative;
	transition: all 300ms ease-in-out;
	display: block;
}

.risho-dropdown {
	width: 200px;
	height: auto;
	background: #eee;
	padding: 10px 30px;
	position: absolute;
	bottom: 100px;
	left: 50%;
	transform: translate(-50%, 100%);
	border-radius: 3px;
	transition: bottom 200ms ease-in-out;
	display: none;
	box-shadow: 0 0 10px 0 #0005;
	cursor: default;
}
.risho-dropdown::before {
	content: '';
	position: absolute;
	display: block;
	width: 25px;
	height: 25px;
	background: #eee;
	top: -12px;
	left: 25px;
	transform: rotate(45deg);
	border-radius: 3px;
}

.risho-dropdown hr {
	margin: 0;
}

.risho-dropdown a {
	padding: 25px 0;
	display: block;
	text-transform: none;
	transition: all 200ms ease;
	cursor: pointer;
}
.risho-dropdown a:hover {
	color: #c55;
}

#medone-dmrabco h1 {
	color: #fff;
	font-size: 60px;
	margin: 0 0 60px;
	text-shadow: 0 0 10px #0005;
}

#medone-dmrabco li {
	font-size: 30px;
	color: #fff;
	margin: 0 0 15px;
	text-shadow: 0 0 10px #0008;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.alaphbeth-pathura {
	width: 100%;
	max-width: 700px;
	display: block;
}

table, tr, th, td {
	border-collapse: collapse;
}

th, td {
	padding: 15px;
}

table {
	width: 100%;
	box-shadow: 0 0 0px 1px inset #0005;
	border-radius: 5px;
	border-radius: 10px;
	position: relative;
	box-sizing: border-box;
	border-radius: 5px;
	overflow: hidden;
}

.table-header-tr {
	background: #47a;
	color: #fff;
}

td {
	border: 1px solid #0005;
}

td:is(.SertoBeQaco, .estrangelo, .eastSyriaca) {
	font-size: 40px;
}

.not-connectable {
	background: #f10;
	color: #fff;
	font-size: 25px;
}

.connectable {
	background: #1c3;
	color: #fff;
	font-size: 25px;
}